<header id="navbar">
    <div class="container nav-container">
        <a href="#" class="logo nav-logo-link">
            <img src="#" alt="Listosoft" class="logo-img logo-dark nav-logo-dark">
            <img src="#" alt="Listosoft" class="logo-img logo-white nav-logo-white">
        </a>

        <nav class="nav-menu" id="nav-menu">
            <ul>
                <li><a href="#" class="nav-link nav-modulos-link">Módulos</a></li>
                <li><a href="#" class="nav-link nav-clientes-link">Clientes</a></li>
                <li><a href="#Recursos" class="nav-link nav-recursos-link">Recursos</a></li>
                <li><a href="#" class="nav-link nav-soporte-link">Soporte</a></li>
                <li><a href="https://listosoft.com/landing-page-asistencias/" class="nav-link nav-soporte-link">Control de Asistencias</a></li>
                <li><a href="#" class="btn btn-accent btn-demo nav-cta nav-contacto-link">Solicitar demo</a></li>
            </ul>
        </nav>

        <div class="hamburger" id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</header>